<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551303268216-8k6t1q65e1snr83mv0tfcnk8sah3bsnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551303268216-8k6t1q65e1snr83mv0tfcnk8sah3bsnt</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_pcBnEpFlxs682i8I73o0Cya85BJaMs</string>
	<key>GCM_SENDER_ID</key>
	<string>551303268216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosalynland.Tinder-For-Furniture</string>
	<key>PROJECT_ID</key>
	<string>tinder-for-furniture</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-for-furniture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:551303268216:ios:ca45a131177ec524be2a8d</string>
</dict>
</plist>
